 .u-section-1 {
  background-image: linear-gradient(#290048, black);
}

.u-section-1 .u-sheet-1 {
  min-height: 738px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  font-size: 4.5rem;
  margin: 40px 690px 0 -249px;
}

.u-section-1 .u-image-1 {
  width: 667px;
  height: 564px;
  filter: brightness(0.05);
  margin: -17px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 2.25rem;
  letter-spacing: 2px;
  width: 448px;
  margin: -399px auto 0;
}

.u-section-1 .u-line-1 {
  width: 102px;
  height: 10px;
  transform-origin: left center 0px;
  margin: 171px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 651px;
  }

  .u-section-1 .u-text-1 {
    position: relative;
    width: 699px;
    margin-right: 590px;
  }

  .u-section-1 .u-image-1 {
    height: 563px;
  }

  .u-section-1 .u-text-2 {
    position: relative;
  }

  .u-section-1 .u-line-1 {
    transform-origin: left center;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 480px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 563px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    width: 540px;
    margin-right: 390px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 456px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: -292px;
  }

  .u-section-1 .u-line-1 {
    transform-origin: left center 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 287px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
    margin-top: -203px;
  }
} .u-section-2 {
  background-image: linear-gradient(black, #254666);
  min-height: 877px;
}

.u-section-2 .u-group-1 {
  width: 831px;
  min-height: 183px;
  margin: 60px auto 0 calc(((100% - 1140px) / 2) + 155px);
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 20px 0;
}

.u-section-2 .u-image-1 {
  height: 604px;
  margin-top: 30px;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 870px;
  }

  .u-section-2 .u-group-1 {
    width: 685px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-image-1 {
    margin-top: 6px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-group-1 {
    width: 525px;
    margin-left: calc(((100% - 1140px) / 2) + 308px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 492px;
    margin-left: calc(((100% - 1140px) / 2) + 324px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 1140px) / 2) + 400px);
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/312629.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 943px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 75px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 361px;
}

.u-section-3 .u-shape-1 {
  width: 66px;
  height: 66px;
  margin: 45px auto 0;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 55px;
  margin: -54px auto 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 3rem;
  margin: 34px 21px 0;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 361px;
}

.u-section-3 .u-shape-2 {
  width: 66px;
  height: 66px;
  margin: 33px auto 0 150px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 55px;
  margin: -53px auto 0;
}

.u-section-3 .u-text-4 {
  font-weight: 400;
  font-size: 3rem;
  margin: 33px 21px 0;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 486px;
}

.u-section-3 .u-shape-3 {
  width: 66px;
  height: 66px;
  margin: 35px auto 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 55px;
  margin: -54px auto 0;
}

.u-section-3 .u-text-6 {
  font-weight: 400;
  font-size: 3rem;
  margin: 34px 21px 0;
}

.u-section-3 .u-layout-wrap-2 {
  margin-top: 9px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 467px;
}

.u-section-3 .u-shape-4 {
  width: 66px;
  height: 66px;
  margin: 21px auto 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 55px;
  margin: -54px auto 0;
}

.u-section-3 .u-text-8 {
  font-weight: 400;
  font-size: 3rem;
  margin: 34px 21px 0;
}

.u-section-3 .u-layout-cell-5 {
  background-image: none;
  min-height: 467px;
}

.u-section-3 .u-shape-5 {
  width: 66px;
  height: 66px;
  margin: 33px auto 0 150px;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 55px;
  margin: -53px auto 0;
}

.u-section-3 .u-text-10 {
  font-weight: 400;
  font-size: 3rem;
  margin: 33px 21px 0;
}

.u-section-3 .u-layout-cell-6 {
  background-image: none;
  min-height: 467px;
}

.u-section-3 .u-shape-6 {
  width: 66px;
  height: 66px;
  margin: 47px auto 0;
}

.u-section-3 .u-text-11 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 55px;
  margin: -54px auto 0;
}

.u-section-3 .u-text-12 {
  font-weight: 400;
  font-size: 3rem;
  margin: 34px 21px 0;
}

.u-section-3 .u-layout-wrap-3 {
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-7 {
  min-height: 360px;
}

.u-section-3 .u-shape-7 {
  width: 66px;
  height: 66px;
  margin: 47px auto 0;
}

.u-section-3 .u-text-13 {
  font-weight: 700;
  font-size: 2.25rem;
  width: 55px;
  margin: -54px auto 0;
}

.u-section-3 .u-text-14 {
  font-weight: 400;
  font-size: 3rem;
  margin: 34px 21px 0;
}

.u-section-3 .u-layout-cell-8 {
  min-height: 390px;
}

.u-section-3 .u-group-1 {
  width: 66px;
  min-height: 66px;
  margin: 34px auto 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 11px 6px;
}

.u-section-3 .u-text-15 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 -1px -19px 0;
}

.u-section-3 .u-text-16 {
  font-weight: 400;
  font-size: 3rem;
  margin: 22px 21px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 360px;
  }

  .u-section-3 .u-shape-1 {
    width: 54px;
    margin-top: 0;
  }

  .u-section-3 .u-text-1 {
    width: 45px;
    position: relative;
  }

  .u-section-3 .u-text-2 {
    position: relative;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 408px;
  }

  .u-section-3 .u-shape-2 {
    width: 54px;
    margin-left: 124px;
  }

  .u-section-3 .u-text-3 {
    width: 45px;
  }

  .u-section-3 .u-text-4 {
    position: relative;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 360px;
  }

  .u-section-3 .u-shape-3 {
    width: 54px;
  }

  .u-section-3 .u-text-5 {
    width: 45px;
    position: relative;
  }

  .u-section-3 .u-text-6 {
    position: relative;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 427px;
  }

  .u-section-3 .u-shape-4 {
    width: 54px;
    margin-top: 0;
  }

  .u-section-3 .u-text-7 {
    width: 45px;
    position: relative;
  }

  .u-section-3 .u-text-8 {
    position: relative;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 385px;
  }

  .u-section-3 .u-text-10 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 360px;
  }

  .u-section-3 .u-text-11 {
    position: relative;
  }

  .u-section-3 .u-text-12 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-wrap-3 {
    margin-left: initial;
  }

  .u-section-3 .u-shape-7 {
    width: 54px;
    margin-top: 0;
  }

  .u-section-3 .u-text-13 {
    width: 45px;
    position: relative;
  }

  .u-section-3 .u-text-14 {
    position: relative;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 322px;
  }

  .u-section-3 .u-text-15 {
    width: 55px;
  }

  .u-section-3 .u-text-16 {
    position: relative;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 478px;
  }

  .u-section-3 .u-shape-1 {
    width: 66px;
  }

  .u-section-3 .u-text-1 {
    width: 51px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 33px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 404px;
  }

  .u-section-3 .u-shape-2 {
    width: 66px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    width: 50px;
    margin-top: -54px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 32px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 404px;
  }

  .u-section-3 .u-shape-3 {
    width: 66px;
    margin-top: 29px;
  }

  .u-section-3 .u-text-5 {
    width: 59px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 33px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 530px;
  }

  .u-section-3 .u-shape-4 {
    width: 66px;
  }

  .u-section-3 .u-text-7 {
    width: 51px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 33px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 404px;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 404px;
  }

  .u-section-3 .u-shape-7 {
    width: 66px;
  }

  .u-section-3 .u-text-13 {
    width: 51px;
  }

  .u-section-3 .u-text-14 {
    margin-top: 33px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 839px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 47px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 317px;
  }

  .u-section-3 .u-shape-1 {
    width: 62px;
    margin-top: 40px;
  }

  .u-section-3 .u-text-1 {
    width: 61px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 32px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 316px;
  }

  .u-section-3 .u-shape-2 {
    width: 62px;
  }

  .u-section-3 .u-text-3 {
    width: 49px;
    position: relative;
  }

  .u-section-3 .u-text-4 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 317px;
  }

  .u-section-3 .u-shape-3 {
    width: 62px;
    margin-top: 50px;
  }

  .u-section-3 .u-text-5 {
    width: 49px;
  }

  .u-section-3 .u-text-6 {
    margin-top: 32px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 47px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 317px;
  }

  .u-section-3 .u-shape-4 {
    width: 62px;
    margin-top: 40px;
  }

  .u-section-3 .u-text-7 {
    width: 61px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 32px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 252px;
  }

  .u-section-3 .u-text-9 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 317px;
  }

  .u-section-3 .u-layout-wrap-3 {
    margin-top: 47px;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 317px;
  }

  .u-section-3 .u-shape-7 {
    width: 62px;
    margin-top: 40px;
  }

  .u-section-3 .u-text-13 {
    width: 61px;
  }

  .u-section-3 .u-text-14 {
    margin-top: 32px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-3 .u-layout-cell-8 {
    min-height: 252px;
  }

  .u-section-3 .u-text-15 {
    position: relative;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-top: 33px;
    margin-bottom: 3px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 308px;
  }

  .u-section-3 .u-shape-1 {
    width: 52px;
    margin-top: 45px;
  }

  .u-section-3 .u-text-1 {
    width: 47px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 21px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 280px;
  }

  .u-section-3 .u-shape-2 {
    width: 52px;
    margin-top: 40px;
  }

  .u-section-3 .u-text-3 {
    width: 47px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 321px;
  }

  .u-section-3 .u-shape-3 {
    width: 52px;
    margin-top: 52px;
  }

  .u-section-3 .u-text-5 {
    width: 47px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-wrap-2 {
    margin-top: 33px;
    margin-bottom: 3px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 308px;
  }

  .u-section-3 .u-shape-4 {
    width: 52px;
    margin-top: 45px;
  }

  .u-section-3 .u-text-7 {
    width: 47px;
  }

  .u-section-3 .u-text-8 {
    margin-top: 21px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 321px;
  }

  .u-section-3 .u-layout-wrap-3 {
    margin-top: 33px;
    margin-bottom: 3px;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-7 {
    min-height: 308px;
  }

  .u-section-3 .u-shape-7 {
    width: 52px;
    margin-top: 45px;
  }

  .u-section-3 .u-text-13 {
    width: 47px;
  }

  .u-section-3 .u-text-14 {
    margin-top: 21px;
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/10141d6ace7908f628ea26e2725b7b1d.jpg");
  min-height: 666px;
  background-position: 50% 50%;
}

.u-section-4 .u-group-1 {
  width: 699px;
  min-height: 204px;
  margin: 37px auto 0;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 18px;
  padding-right: 18px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 18px 3px 0 0;
}

.u-section-4 .u-text-2 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 20px 2px 0;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 37px auto 0 0;
}

.u-section-4 .u-image-1 {
  background-image: url("images/6ac3fbaec9d8a76b10060473de72f654.jpg");
  min-height: 248px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-2 {
  background-image: url("images/09c357f9a21e817150d7fa475a3941c8.jpg");
  min-height: 248px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-3 {
  background-image: url("images/40cc052171fbdfa7aef61afe1d7f7d67.jpg");
  min-height: 248px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-4 {
  background-image: url("images/9f4513a3c4e7ed6f89a2360f2372158d.jpg");
  min-height: 248px;
  background-position: 50% 50%;
}

.u-section-4 .u-image-5 {
  background-image: url("images/893fad16f0f47322d4c737ee3eb8b548.jpg");
  min-height: 248px;
  background-position: 50% 50%;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 0.875rem;
  border-style: none;
  margin: 37px auto 62px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 698px;
  }

  .u-section-4 .u-group-1 {
    width: 665px;
    min-height: 235px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    position: relative;
  }

  .u-section-4 .u-text-2 {
    position: relative;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 979px;
  }

  .u-section-4 .u-group-1 {
    width: 581px;
    min-height: 268px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 22px;
  }

  .u-section-4 .u-text-2 {
    margin-bottom: 22px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1730px;
  }

  .u-section-4 .u-group-1 {
    width: 540px;
    min-height: 275px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 26px;
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 26px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 340px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 842px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 60px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 45px 0 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 179px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 201px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-3 {
  min-height: 179px;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-5 .u-image-1 {
  min-height: 603px;
  background-image: url("images/photo5825661282467036788.jpg");
  background-position: 22.01% 49.13%;
  background-size: auto 215%;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-layout-cell-5 {
  min-height: 179px;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-8 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-9 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-6 {
  min-height: 179px;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5 .u-text-10 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-11 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

.u-section-5 .u-layout-cell-7 {
  min-height: 179px;
}

.u-section-5 .u-container-layout-7 {
  padding: 30px;
}

.u-section-5 .u-text-12 {
  margin: 0 auto 0 0;
}

.u-section-5 .u-text-13 {
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 148px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 166px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 148px;
  }

  .u-section-5 .u-image-1 {
    min-height: 497px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 148px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 148px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 148px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1110px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    min-height: 571px;
  }

  .u-section-5 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-7 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2177px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
  }

  .u-section-5 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-5 .u-image-1 {
    min-height: 857px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-5 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-5 .u-container-layout-7 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1575px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    margin-top: 15px;
    margin-left: auto;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 65px;
    margin-bottom: -138px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-1 {
    min-height: 540px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 659px;
}

.u-section-6 .u-group-1 {
  width: 570px;
  min-height: 171px;
  margin: 36px auto 0;
}

.u-section-6 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 15px 10px 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  letter-spacing: 2px;
  margin: 20px 34px 15px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 23px auto 43px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 245px;
}

.u-section-6 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 15px 20px 0;
}

.u-section-6 .u-text-3 {
  font-weight: 400;
  margin: -50px 17px 0 104px;
}

.u-section-6 .u-text-4 {
  margin: 20px 17px 15px 104px;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 245px;
}

.u-section-6 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0 20px;
}

.u-section-6 .u-text-5 {
  font-weight: 400;
  margin: -50px 17px 0 104px;
}

.u-section-6 .u-text-6 {
  margin: 20px 17px 15px 104px;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 220px;
}

.u-section-6 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0 20px;
}

.u-section-6 .u-text-7 {
  font-weight: 400;
  margin: -50px 17px 0 104px;
}

.u-section-6 .u-text-8 {
  margin: 20px 17px 15px 104px;
}

.u-section-6 .u-layout-cell-4 {
  background-image: none;
  min-height: 220px;
}

.u-section-6 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 15px auto 0 20px;
}

.u-section-6 .u-text-9 {
  font-weight: 400;
  margin: -50px 17px 0 104px;
}

.u-section-6 .u-text-10 {
  margin: 20px 17px 15px 104px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    width: 470px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 270px;
  }

  .u-section-6 .u-icon-1 {
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin-right: 14px;
    margin-left: 103px;
  }

  .u-section-6 .u-text-4 {
    width: auto;
    margin-right: 14px;
    margin-left: 103px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 270px;
  }

  .u-section-6 .u-icon-2 {
    margin-left: 16px;
  }

  .u-section-6 .u-text-5 {
    width: auto;
    margin-right: 14px;
    margin-left: 103px;
  }

  .u-section-6 .u-text-6 {
    width: auto;
    margin-right: 14px;
    margin-bottom: 25px;
    margin-left: 103px;
  }

  .u-section-6 .u-icon-3 {
    margin-left: 16px;
  }

  .u-section-6 .u-text-7 {
    width: auto;
    margin-right: 14px;
    margin-left: 103px;
  }

  .u-section-6 .u-text-8 {
    width: auto;
    margin-right: 14px;
    margin-left: 103px;
  }

  .u-section-6 .u-icon-4 {
    margin-left: 16px;
  }

  .u-section-6 .u-text-9 {
    width: auto;
    margin-right: 14px;
    margin-left: 103px;
  }

  .u-section-6 .u-text-10 {
    width: auto;
    margin-right: 15px;
    margin-bottom: 20px;
    margin-left: 103px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 870px;
  }

  .u-section-6 .u-group-1 {
    width: 529px;
    min-height: 198px;
    margin-top: 38px;
  }

  .u-section-6 .u-text-1 {
    position: relative;
    margin-top: 20px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    position: relative;
    margin-left: 21px;
    margin-right: 21px;
    margin-bottom: 20px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 21px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 320px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-6 .u-text-3 {
    width: NaNpx;
    margin-right: 11px;
    margin-left: 90px;
  }

  .u-section-6 .u-text-4 {
    width: NaNpx;
    margin-right: 0;
    margin-bottom: -10px;
    margin-left: 90px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 320px;
  }

  .u-section-6 .u-icon-2 {
    margin-left: 13px;
  }

  .u-section-6 .u-text-5 {
    width: NaNpx;
    margin-right: 11px;
    margin-left: 90px;
  }

  .u-section-6 .u-text-6 {
    width: NaNpx;
    margin-right: 11px;
    margin-bottom: 30px;
    margin-left: 90px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 270px;
  }

  .u-section-6 .u-icon-3 {
    margin-left: 13px;
  }

  .u-section-6 .u-text-7 {
    width: NaNpx;
    margin-right: 11px;
    margin-left: 90px;
  }

  .u-section-6 .u-text-8 {
    width: NaNpx;
    margin-right: 11px;
    margin-left: 90px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 270px;
  }

  .u-section-6 .u-icon-4 {
    margin-left: 13px;
  }

  .u-section-6 .u-text-9 {
    width: NaNpx;
    margin-right: 11px;
    margin-left: 90px;
  }

  .u-section-6 .u-text-10 {
    width: NaNpx;
    margin-right: 11px;
    margin-bottom: 25px;
    margin-left: 90px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1244px;
  }

  .u-section-6 .u-group-1 {
    width: 439px;
    min-height: 208px;
    margin-top: 49px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 10px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 252px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-6 .u-text-3 {
    position: relative;
    margin-right: 8px;
    margin-left: 93px;
  }

  .u-section-6 .u-text-4 {
    position: relative;
    margin-right: 8px;
    margin-bottom: 0;
    margin-left: 93px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 252px;
  }

  .u-section-6 .u-icon-2 {
    margin-left: 9px;
  }

  .u-section-6 .u-text-5 {
    position: relative;
    margin-right: 8px;
    margin-left: 93px;
  }

  .u-section-6 .u-text-6 {
    position: relative;
    margin-right: 8px;
    margin-bottom: 0;
    margin-left: 93px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 213px;
  }

  .u-section-6 .u-icon-3 {
    margin-left: 9px;
  }

  .u-section-6 .u-text-7 {
    position: relative;
    margin-right: 8px;
    margin-left: 93px;
  }

  .u-section-6 .u-text-8 {
    position: relative;
    margin-right: 8px;
    margin-bottom: 0;
    margin-left: 93px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 213px;
  }

  .u-section-6 .u-icon-4 {
    margin-left: 9px;
  }

  .u-section-6 .u-text-9 {
    position: relative;
    margin-right: 8px;
    margin-left: 93px;
  }

  .u-section-6 .u-text-10 {
    position: relative;
    margin-right: 8px;
    margin-bottom: 0;
    margin-left: 93px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1483px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 26px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 33px;
    margin-bottom: 34px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 198px;
  }

  .u-section-6 .u-icon-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 5px;
    margin-left: 86px;
  }

  .u-section-6 .u-text-4 {
    margin-right: 5px;
    margin-bottom: 15px;
    margin-left: 86px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-6 .u-icon-2 {
    margin-left: 6px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 5px;
    margin-left: 86px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 5px;
    margin-bottom: 20px;
    margin-left: 86px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 325px;
  }

  .u-section-6 .u-icon-3 {
    margin-top: 12px;
    margin-left: 6px;
  }

  .u-section-6 .u-text-7 {
    margin-right: 5px;
    margin-left: 86px;
  }

  .u-section-6 .u-text-8 {
    margin-right: 5px;
    margin-bottom: 12px;
    margin-left: 86px;
  }

  .u-section-6 .u-layout-cell-4 {
    min-height: 263px;
  }

  .u-section-6 .u-icon-4 {
    margin-left: 6px;
  }

  .u-section-6 .u-text-9 {
    margin-right: 5px;
    margin-left: 86px;
  }

  .u-section-6 .u-text-10 {
    margin-right: 5px;
    margin-bottom: 8px;
    margin-left: 86px;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/fantasy-ship-shark-underwater-wreck-hd-wallpaper-preview.jpg");
  background-position: 50% 50%;
}

.u-section-7 .u-sheet-1 {
  min-height: 538px;
}

.u-section-7 .u-layout-wrap-1 {
  margin: 70px auto 70px 0;
}

.u-section-7 .u-layout-cell-1 {
  background-image: none;
  min-height: 418px;
}

.u-section-7 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-7 .u-text-1 {
  font-weight: 400;
  font-size: 6rem;
  margin: 40px 20px 40px 0;
}

.u-section-7 .u-layout-cell-2 {
  background-image: none;
  min-height: 418px;
}

.u-section-7 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-7 .u-text-2 {
  font-size: 1.125rem;
  margin: 40px 0;
}

.u-section-7 .u-image-1 {
  min-height: 418px;
  background-image: url("images/94580692a185587420e6ae88cd1ee43c.jpg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-container-layout-1 {
    padding-right: 16px;
    padding-left: 0;
  }

  .u-section-7 .u-text-1 {
    position: relative;
    margin-right: 0;
    font-size: 4.5rem;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-7 .u-text-1 {
    font-size: 6rem;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 1032px;
  }

  .u-section-7 .u-layout-wrap-1 {
    width: 462px;
    margin: 72px auto 0 39px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 300px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 9px;
    margin-bottom: 0;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 298px;
  }

  .u-section-7 .u-text-2 {
    position: relative;
    margin-bottom: 0;
  }

  .u-section-7 .u-image-1 {
    min-height: 298px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-layout-wrap-1 {
    margin-top: 59px;
    margin-bottom: 97px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-text-1 {
    margin-right: 6px;
    margin-bottom: 26px;
  }
}.u-block-066e-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-066e-3 {
  position: absolute;
  left: calc(((100% - 1140px) / 2));
  width: 40px;
  height: 40px;
}

.u-block-066e-4 {
  position: absolute;
  width: 40px;
  height: 40px;
  right: calc(((100% - 1140px) / 2));
}

@media (max-width: 1199px) {
  .u-block-066e-3 {
    left: calc(((100% - 940px) / 2));
    width: 33px;
    height: 33px;
  }

  .u-block-066e-4 {
    width: 33px;
    height: 33px;
    right: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
  .u-block-066e-3 {
    left: calc(((100% - 720px) / 2));
    width: 25px;
    height: 25px;
  }

  .u-block-066e-4 {
    width: 25px;
    height: 25px;
    right: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
  .u-block-066e-3 {
    left: calc(((100% - 540px) / 2)  + -67px);
    width: 24px;
    height: 24px;
  }

  .u-block-066e-4 {
    width: 24px;
    height: 24px;
    right: calc(((100% - 540px) / 2)  + -67px);
  }
}

@media (max-width: 575px) {
  .u-block-066e-3 {
    left: calc(((100% - 340px) / 2)  + -113px);
    width: 20px;
    height: 20px;
  }

  .u-block-066e-4 {
    width: 20px;
    height: 20px;
    right: calc(((100% - 340px) / 2)  + -113px);
  }
}

 .u-section-8-1 {
  background-image: none;
}

.u-section-8-1 .u-sheet-1 {
  min-height: 546px;
}

.u-section-8-1 .u-group-1 {
  min-height: 109px;
  width: 800px;
  margin: 41px auto 0;
}

.u-section-8-1 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-8-1 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 10px 0;
}

.u-section-8-1 .u-layout-wrap-1 {
  width: 957px;
  margin: 22px auto 39px 92px;
}

.u-section-8-1 .u-layout-cell-1 {
  min-height: 287px;
}

.u-section-8-1 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8-1 .u-image-1 {
  width: 164px;
  height: 164px;
  object-position: 56.85% 50%;
  background-position: 50% 50%;
  background-image: url("images/octapus.png");
  margin: 20px auto 0;
}

.u-section-8-1 .u-layout-cell-2 {
  min-height: 287px;
}

.u-section-8-1 .u-container-layout-3 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-8-1 .u-text-2 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8-1 .u-group-1 {
    width: 660px;
  }

  .u-section-8-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8-1 .u-text-1 {
    position: relative;
  }

  .u-section-8-1 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8-1 .u-image-1 {
    background-position: 56.85% 50%;
  }

  .u-section-8-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8-1 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-8-1 .u-group-1 {
    width: 505px;
  }

  .u-section-8-1 .u-image-1 {
    width: 156px;
    height: 156px;
  }
}

@media (max-width: 767px) {
  .u-section-8-1 .u-group-1 {
    width: 474px;
  }
}

@media (max-width: 575px) {
  .u-section-8-1 .u-group-1 {
    width: 340px;
  }
}

 .u-section-8-2 {
  background-image: none;
}

.u-section-8-2 .u-sheet-1 {
  min-height: 546px;
}

.u-section-8-2 .u-group-1 {
  min-height: 109px;
  width: 800px;
  margin: 41px auto 0;
}

.u-section-8-2 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-8-2 .u-text-1 {
  font-weight: 400;
  font-size: 3rem;
  margin: 10px 0;
}

.u-section-8-2 .u-layout-wrap-1 {
  width: 957px;
  margin: 22px auto 39px 92px;
}

.u-section-8-2 .u-layout-cell-1 {
  min-height: 287px;
}

.u-section-8-2 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8-2 .u-image-1 {
  width: 164px;
  height: 164px;
  object-position: 56.85% 50%;
  background-position: 50% 50%;
  background-image: url("images/photo5825661282467036788.jpg");
  margin: 20px auto 0;
}

.u-section-8-2 .u-layout-cell-2 {
  min-height: 287px;
}

.u-section-8-2 .u-container-layout-3 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-8-2 .u-text-2 {
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-8-2 .u-group-1 {
    width: 660px;
  }

  .u-section-8-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8-2 .u-text-1 {
    position: relative;
  }

  .u-section-8-2 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8-2 .u-image-1 {
    width: 135px;
    height: 135px;
    background-position: 56.85% 50%;
    margin-bottom: 30px;
  }

  .u-section-8-2 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8-2 .u-text-2 {
    position: relative;
  }
}

@media (max-width: 991px) {
  .u-section-8-2 .u-group-1 {
    width: 505px;
  }

  .u-section-8-2 .u-image-1 {
    width: 134px;
    height: 134px;
    margin-top: 31px;
  }
}

@media (max-width: 767px) {
  .u-section-8-2 .u-group-1 {
    width: 474px;
  }

  .u-section-8-2 .u-image-1 {
    width: 126px;
    height: 126px;
    margin-top: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-8-2 .u-group-1 {
    width: 340px;
  }

  .u-section-8-2 .u-image-1 {
    width: 105px;
    height: 105px;
    margin-left: 17px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 629px;
}

.u-section-9 .u-list-1 {
  grid-template-rows: auto;
  margin: 60px auto 60px 0;
}

.u-section-9 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 432px;
}

.u-section-9 .u-container-layout-1 {
  padding: 30px;
}

.u-section-9 .u-image-1 {
  width: 290px;
  height: 290px;
  background-image: url("images/octapus.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-9 .u-text-1 {
  margin: 20px 0 0;
}

.u-section-9 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-9 .u-container-layout-2 {
  padding: 30px;
}

.u-section-9 .u-image-2 {
  width: 290px;
  height: 290px;
  background-image: url("images/octapus.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-9 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-9 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-9 .u-container-layout-3 {
  padding: 30px;
}

.u-section-9 .u-image-3 {
  width: 290px;
  height: 290px;
  background-image: url("images/octapus.png");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-9 .u-text-5 {
  margin: 20px 0 0;
}

.u-section-9 .u-text-6 {
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-9 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-image-1 {
    width: 232px;
    height: 232px;
  }

  .u-section-9 .u-image-2 {
    width: 232px;
    height: 232px;
  }

  .u-section-9 .u-image-3 {
    width: 232px;
    height: 232px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-9 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-9 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}